.DS_Store
node_modules/
dist/
logs/


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

package-lock.json
public/
public/admin/index.html
public/client/index.html
public/client/index.html
package.json
